@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
}

.react-tel-input .form-control {
  padding-left: 80px !important;
}
@layer components {
  .error-message {
    @apply text-[#BE123C] font-inter text-xs leading-4 font-normal tracking-normal pt-[2px];
  }
}

/* لو بتستخدم النسخة العادية */
.iti__flag {
  background-image: url("/img/flags.png") !important;
}

/* لو عايز تدعم الـ2x لأجهزة الريتنا */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .iti__flag {
    background-image: url("/img/flags@2x.png") !important;
    background-size: 5630px 2040px; /* المقاسات بتختلف حسب النسخة */
  }
}
